* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
}
.nav {
    display:flex;
    font-size: 1em;
    padding-top: 1%;
    justify-content: space-around;
}

.explanation-prompt {
    padding-top: 6%;
    text-align: center;
}

#search-form {
    display:flex;
    padding-top: 2%;
    justify-content: center;
}

.results {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    gap: 10px;
}

.votesContainer div {
    text-align: left;
    padding-top: 6%;
}

.repDetails div {
    text-align: right;
    padding-top: 11%;
}

.repDetails p {
    text-align: right;
    padding-top: 2%;
}