* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}
.nav {
    display:flex;
    font-size: 1em;
    padding-top: 1%;
    justify-content: space-around;
}

.explanation-prompt {
    padding-top: 5%;
    text-align: center;
}

.search {
    display:flex;
    padding-top: 2%;
    justify-content: center;
}

